Binaries
DerivedDataCache
Intermediate
Saved
Content/*
!Content/Blueprint
!Content/Map
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.ignore
AlphaOne.code-workspace
